@page
@model ERSimulatorApp.Pages.IndexModel
@{
    ViewData["Title"] = "CoDIRA";
}
@* Redirect is performed in IndexModel.OnGet to /Avatar. This view is not normally rendered. *@
<p>Redirecting to Dr. Dexter...</p>
